@using LaboratorioDiccionarios.Models;
@model IEnumerable<Album>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            background-color: #fff;
        }

            table th {
                background-color: #B8DBFD;
                color: #333;
                font-weight: bold;
            }

            table th, table td {
                padding: 5px;
                border: 1px solid #ccc;
            }

            table, table table td {
                border: 0px solid #ccc;
            }
    </style>
</head>
<body>
    @using (Html.BeginForm("Index", "Album", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="PostedFile" />
        <input type="submit" value="Importar" />
    }
    @if (Model.Count() > 0)
    {
        <hr />
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th>Codigo</th>
                <th>Equipo/Llave</th>
            </tr>
            @foreach (Album item in Model)
            {
                <tr>
                    <td>@item.Codigo</td>
                    <td>@item.Equipo</td>
                </tr>
            }
        </table>
    }
    

    <form><input type="button", value="Actualizar Album", onclick="window.location.href='Actualizar'" /></form>

</body>
</html>
